/* color: 302BA3 light blue */
/* color: 1a1864 dark blue*/
/* color: 01004e app__container*/
/* color: 010039 app__container*/
.app {
  background-color: #1a1864;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.app__light-blue {
  background-color: #302BA3;
  position: absolute;
  height: 680px;
  width: 670px;
  left: -130px;
  top: -140px;
  z-index: 0;
  transform: rotate(45deg);
  border-radius: 48%;
}
.app__container {
  background-color: #01004e;
  height: 90vh;
  width: 90vw;
  border-radius: 13px;
  z-index: 10;
  overflow: hidden;
  display: flex;
}

.search__icon {
  position: absolute;
  right: 25px;
  top: 20px;
  color: whitesmoke;
  cursor: pointer;
}
.app__input {
  display: flex;
  height: 36px;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 5px;
  position: absolute;
  top: 18px;
  right: 70px;
  transform: translateY(-70px);
  z-index: 10;
  transition: all ease 0.2s;
  border: 1px solid #01004e;
}
.active__search {
  transform: translate(0);
}
.app__input > button {
  border: none;
  background-color: #01004e;
  color: #fff;
  flex: 0.4;
  
}
.app__input > input {
  border: none;
  flex: 0.9;
  border-radius: 13px;
  padding-left: 10px;
  outline: none;
}